<?xml version="1.0" encoding="utf-8"?>
<installation>
  <settings>
    <scope name="common">
      <!-- The encrypted Fabric.Installer client secret, used for registering additional 
           API's and Clients with Fabric.Identity -->
      <variable name="fabricInstallerSecret" value="" />
      <!-- The thumb-print of an SSL certificate to use for encrypting/decrypting sensitive 
           information in the config. For initial installation it is recommended to use the 
           thumb-print of the certificate providing TLS/SSL for the website. -->
      <variable name="encryptionCertificateThumbprint" value="" />
      <!-- The address of the Sql Server Instance -->
      <variable name="sqlServerAddress" value="localhost" />
      <!-- The database name of the metadata database -->
      <variable name="metadataDbName" value="" />
      <!-- The address of the Identity Service -->
      <variable name="identityService" value="" />
      <!-- The address of the Discovery Service -->
      <variable name="discoveryService" value="" />
      <variable name="authorizationService" value="" />
    </scope>
    <scope name="registration">
      <variable name="groupName" value="" />
    </scope>
  </settings>
</installation>